.app-container {
  background-color: #000000;
  min-height: 100vh;
  padding: 20px;
}

.profile-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  width: 220px;
  height: 180px;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.profile-name {
  color: #6366f1;
  font-size: 18px;
  font-family: 'Roboto';
}

.profile-about {
  color: #64748b;
  font-size: 15px;
  font-family: 'Roboto';
}

.horizontal-line {
  color: #b6c5ff;
  width: 220px;
  margin-left: 25px;
}
