.login-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: #202020;
  border-radius: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  max-width: 400px;
  width: 400px;
  flex-shrink: 0;
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  padding: 64px 48px 64px 48px;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
}

.label {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto';
  padding-bottom: 8px;
}

.user-name {
  height: 35px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #b6c5ff;
  background-color: transparent;
}

.password {
  height: 35px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #b6c5ff;
  background-color: transparent;
}

.login-button {
  background-color: #4f46e5;
  width: 95%;
  height: 35px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  color: #ffffff;
  font-weight: bold;
  font-weight: 'Roboto';
  cursor: pointer;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
